<div class="component-view">
  <div class="component-view-main">
    <div class="component-view-main-inner">
      <element-y2020-m05-d23>
      </element-y2020-m05-d23>
    </div>
  </div>

  <div class="component-view-contents">
    <div class="component-view-contents-one">
      <pre>
        <code [innerText]="htmlCode">
        </code>
      </pre>
    </div>

    <div class="component-view-contens-one">
      <pre>
        <code [innerText]="cssCode">
        </code>
      </pre>
    </div>
  </div>
</div>
