<div class="e2020-05-26">
  <div class="e2020-05-26-thumbnail">
    <img class="e2020-05-26-thumbnail-img" src="assets/2020-05-26/IMG_0432.jpg">
  </div>

  <div class="e2020-05-26-contens">
    <div class="e2020-05-26-contens-title">
      <p class="e2020-05-26-contens-title-p">明日使えるクソSCSS</p>
    </div>

    <div class="e2020-05-26-contens-channel">
      <p class="e2020-05-26-contens-channel-p">クソSCSS放送局</p>
    </div>

    <div class="e2020-05-26-contens-sub-texts">
      <p class="e2020-05-26-contens-sub-texts-one">2回視聴</p>
      <p class="e2020-05-26-contens-sub-texts-one">36分前</p>
    </div>
  </div>

  <div class="e2020-05-26-option">
    <fa-icon [icon]="faEllipsisV" class="e2020-05-26-option-icon"></fa-icon>
  </div>
</div>
