@mixin TextOverflow($line-count){
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: #{$line-count};
}

.e2020-05-26{
  width: 300px;
  display: grid;
  grid-template-columns: .8fr 1fr 24px;
  grid-gap: 0 8px;
}

.e2020-05-26-thumbnail{
  width: 100%;
  height: 100%;
  &-img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.e2020-05-26-contens{
  &-title{
    &-p{
      @include TextOverflow(2);
      margin: 0px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.6;
    }
  }

  &-channel{
    &-p{
      @include TextOverflow(1);
      margin: 0px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.6;
      color: gray;
    }
  }

  &-sub-texts{
    display: flex;
    flex-wrap: nowrap;
    &-one{
      &:not(:last-of-type):after{
        content: "・";
      }
      white-space: nowrap;
      margin: 0px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.6;
      color: gray;
    }
  }
}

.e2020-05-26-option{
  &-icon{
    color: gray;
  }
}
